<nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #1c1d1f;">
  <a class="navbar-brand" href="/" style="margin-left: 10px;">  
    <img src="{{url_for('static', filename='img/tumorsys-nav.png')}}" width="250" height="50" alt="" >
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto" style="margin-right:200px;"> 
      <li class="nav-item " style="margin-right: 20px;">
        <a class="nav-link" href="/" style="font-size: 20px;">ANASAYFA </span></a>
      </li>
      <li class="nav-item " style="margin-right: 20px;">
        <a class="nav-link" href="/about" style="font-size: 20px;">HAKKIMDA </span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/braintumordetection" style=" font-size: 20px;">BEYİN TÜMÖR TESPİTİ </span></a>
      </li>
    </ul>
  </div>
</nav>

