{% extends "layout.html" %}
{% block body %}
<div  class="text-center">
    <h1 class="display-4" style="color:#003153;" >Hakkımda</h1>

    <hr>
    <h4>1996 Aydın/Nazilli doğumluyum. Tekirdağ Namık Kemal Üniversitesi Biyomedikal Mühendisliği bölümü mezunuyum. Üniversite eğitimim sırasında BiyomedTek Ar-Ge topluluğunda Teknoloji ve Basın Komitesi Başkanlığı yaptım. Üniversite eğitimim sırasında ek olarak yazılım eğitimleri aldım. Almış olduğum eğitimler sonrasında biyomedikal ve yazılımın yer aldığı projeler geliştirmeye çalışıyorum.</h4>
    <hr>
    <a href="https://www.linkedin.com/in/umut-demiroglu" target="_blank"><button class="btn btn-outline-dark bi-linkedin"></button></a>
    <a href="https://www.instagram.com/umutdmroglu/" target="_blank"><button class="btn btn-outline-dark bi-instagram"></button></a>
    <a href="http://www.twitter.com/umutdemiroglu" target="_blank"><button class="btn btn-outline-dark bi-twitter" ></button></a>
</div>



{% endblock body %}
